[user]
  name = Björn Förschner
  email = 1569796+BFoerschner@users.noreply.github.com
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true
  side-by-side = true
  line-numbers = true
[merge]
  conflictstyle = zdiff3
[alias]
  slog = log --pretty=tformat:'%C(bold blue)%h %C(bold red)%ad %C(bold blue)%aN%C(auto)%d %s%C(reset)' --date=short --graph
  wiff = diff --word-diff=color
